[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-decouple = "==3.3"
pyaes = "==1.6.1"
pyasn1 = "==0.4.8"
rsa = "==4.6"
Telethon = "==1.16.4"

[requires]
python_version = "3.8"
